/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/

.hide {
  display: none;
}

.emoji,
.twemoji {
  max-width: 20px;
}
.preloader-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  text-align: center;
}

.register-form-conteiner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fdfaf4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 150px;
    max-height: 100px;
  }
  .register-form-wrapper {
    padding: 20px 20px;
    width: 500px;
    margin-bottom: 250px;
    background-color: inherit;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      color: #7d4008;
    }
    h3 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 39px;
      color: #7d4008;
    }
    form {
      padding-top: 30px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      input {
        background-color: rgba($color: #000000, $alpha: 0);
        border-bottom: 1px solid gray;
      }

      button {
        width: 140px;
        padding: 10px 20px;
        background-color: #ffe4c4;
        border-radius: 6px;
        margin: 0 auto;
        &:hover {
          background-color: rgba($color: #ecb26a, $alpha: 0.7);
        }
      }
    }
    .copy-info {
      padding-top: 25px;
      position: relative;
      font-family: "Lusitana";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      letter-spacing: 0.215em;
      color: #000000;
      .lang {
        position: absolute;
        left: 0;
        cursor: pointer;
      }
      .footer-name {
        padding: auto;
      }
    }
  }
}

.home-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .conteiner {
    margin-top: 200px;
    width: 70%;
    min-height: 90%;
    margin-bottom: 250px;
    background-color: #fdfaf4;
    border-radius: 6px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;

    .user-search-conteiner {
      .user-searched-chat {
        display: flex;
        align-items: center;
        margin: 10px 0px 10px 0px;
        max-width: 100%;
        overflow: hidden;
        height: 100px;
        cursor: pointer;
        background-color: #ffe4c4;
        .user-chat-info {
          display: flex;
          flex-direction: column;
          padding: 10px 0px 0px 10px;
          gap: 5px;
          .user-chat-user-name {
            text-align: left;
            padding-left: 10px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            color: #7d4008;
          }
          .user-searched-chat-user-avatar {
            width: 50px;
            height: 50px;

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin-left: 5px;
            }
          }
        }
        .user-searched-chat-title {
          padding-top: 20px;
          flex: 1 1 auto;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: #7d4008;
        }
      }
      .user-search {
        background-color: transparent;
        width: 85%;
        padding: 10px 5px 1px 5px;
        border-bottom: 1px solid grey;
      }
    }

    .sidebar {
      flex: 1 0 auto;
      background-color: #fdfaf4;
      max-width: 348px;
      position: relative;
      .user-info {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #fdfaf4;
        .user-info-conteiner {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .user-name-and-avatar-conteiner {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .main-user-avatar {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              margin-left: 5px;
            }
            .user-name {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 24px;
              color: #7d4008;
            }
          }
          .user-upload-avatar-conteiner {
            form {
              display: flex;
              .upload-avatar-label {
                text-align: left;
                img {
                  max-width: 25px;
                  max-height: 25px;
                }
                &.active {
                  position: relative;
                  &::after {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: #f9787f;
                    border-radius: 50%;
                    top: 0px;
                    right: 3px;
                  }
                }
              }

              .upload-avatar-btn {
                padding: 3px 5px;
                background-color: rgba($color: #000000, $alpha: 0.3);
                border-radius: 3px;
                margin: 0 auto;
                pointer-events: none;

                &.active {
                  pointer-events: all;
                  background-color: #f9787f;
                  &:hover {
                    background-color: rgba($color: #f9787f, $alpha: 0.7);
                  }
                }
              }
            }
          }
        }
        .upload-img {
          width: 30px;
          height: 30px;
          margin: 0px 5px;
          cursor: pointer;
        }
        a {
          cursor: pointer;
          width: 30px;
          height: 30px;
        }
      }

      .chat-list {
        max-width: 100%;
        height: 530px;
        margin-top: 20px;
        background-color: #fdfaf4;
        overflow-y: auto;
        border-top: 2px solid gray;
        .user-chat {
          max-width: 100%;
          overflow: hidden;
          position: relative;
          &:hover {
            background-color: #ffe179;
            cursor: pointer;
          }
          &.active {
            background-color: #ffe179;
          }
          height: 100px;
          border-bottom: 1px solid gray;
          .user-chat-info {
            display: flex;
            flex-direction: column;
            padding: 10px 0px 0px 10px;
            gap: 5px;
            .user-chat-user-name {
              text-align: left;
              padding-left: 10px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 15px;
              color: #7d4008;
            }
            .user-chat-user-avatar {
              width: 50px;
              height: 50px;
              img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-left: 5px;
              }
            }
          }

          .user-chat-last-message {
            text-align: left;
            padding-left: 15px;
            padding-top: 5px;
            width: 69%;
            height: 25px;
            overflow-y: hidden;
            position: absolute;
            bottom: 35px;
            left: 60px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            color: black;
          }

          .user-chat-last-message-time {
            position: absolute;
            right: 20px;
            bottom: 10px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: grey;
          }
          .user-chat-unread-messages {
            font-family: "Montserrat";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 40px;
            right: 20px;
            width: 20px;
            height: 20px;
            background-color: #ffe179;
            border-radius: 50%;
          }
        }
        .search-friends-title {
          padding-top: 20px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 15px;
          color: grey;
        }
      }

      .footer {
        position: absolute;
        bottom: 15px;
        left: 38%;
        border-top: 2px solid gray;
        font-family: "Lusitana";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.215em;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      }
    }

    .not-selected-chat {
      flex: 2;
      width: 880px;
      background-color: #fdfaf4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: 1px solid grey;
      position: relative;
    }

    .chat {
      flex: 2;
      width: 880px;
      background-color: #fdfaf4;
      display: flex;
      flex-direction: column;
      border-left: 1px solid grey;
      position: relative;

      .chat-header {
        min-height: 80px;
        width: 100%;
        background-color: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gray;
        .chat-header-user-name {
          font-weight: 600;
          padding-left: 15px;
        }
        .delete-chat {
          margin-right: 15px;
          width: 30px;
          height: 30px;
          background: none;
          cursor: pointer;
        }
      }
      .messages {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: inherit;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow-y: scroll;
        position: relative;
        .message {
          padding: 5px 0px;

          &:hover {
            background-color: rgba($color: #f7e9cc, $alpha: 1);
            cursor: pointer;
          }
          .message-info {
            display: flex;
            gap: 10px;

            .message-user-body {
              display: flex;
              flex-direction: column;
              gap: 10px;
              position: relative;
              .message-user-avatar {
                width: 40px;
                height: 40px;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                }
              }
              .message-owner-name {
                position: absolute;
                top: -15px;
                left: 4px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #7d4008;
              }
            }

            .message-body {
              display: flex;
              flex-direction: column;
              max-width: 80%;
              overflow: hidden;
              .message-owner-name-right {
                text-align: right;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #7d4008;
                padding: 0px 5px 3px 0px;
              }
              .message-owner-name-left {
                text-align: left;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #7d4008;
                padding: 0px 0px 3px 5px;
              }

              .message-content {
                max-width: 100%;
                background: #fffefe;
                border: 1px solid rgba(0, 0, 0, 0.5);
                border-radius: 30px;
                border-radius: 12px;
                padding: 15px 8px 10px 8px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                flex: 1 1 auto;
                position: relative;
                .edit-message {
                  display: none;
                  position: absolute;
                  top: 1px;
                  right: 8px;
                  img {
                    width: 12px;
                    height: 12px;
                  }
                  &.active {
                    display: block;
                  }
                }
                .delete-message {
                  display: none;
                  position: absolute;
                  top: 1px;
                  right: 2px;
                  width: 11px;
                  height: 11px;
                  &.active {
                    display: block;
                  }
                }
                .reply-message-button {
                  display: none;
                  position: absolute;
                  top: 1px;
                  right: 10px;
                  cursor: pointer;
                  &.active {
                    display: block;
                    &.owner {
                      right: 30px;
                    }
                  }
                }
                .message-reply {
                  display: flex;
                  flex-direction: column;
                  padding-left: 3px;
                  max-width: 100%;
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 20px;
                  text-align: left;
                  color: grey;
                  word-wrap: break-word;
                  border-left: 1px solid gray;
                }
                .message-text {
                  padding-left: 3px;
                  max-width: 100%;
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 20px;
                  text-align: left;
                  color: #000000;
                  word-wrap: break-word;
                }
                .message-photo,
                .message-video {
                  max-width: 100%;
                  border-radius: 6px;
                }
                .message-edited-mark {
                  align-self: flex-end;
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 10px;
                  color: grey;
                }
              }
              .message-time {
                text-align: right;
                padding-right: 4px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 15px;
                color: grey;
              }
            }

            &.my-message {
              .message-content {
                background: #d1e3fd;
              }
              flex-direction: row-reverse;
              .message-user-avatar {
                width: 40px;
                height: 40px;
                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                }
              }
            }
          }
        }
        .preloader {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100px;
        }
      }
      .input-message-wrapper {
        border-top: 1px solid grey;
        gap: 10px;
        .replay-message-body {
          display: flex;
          gap: 10px;
          margin-top: 5px;

          .replay-message-block-on-input {
            width: 60%;
            padding: 10px 10px;
            margin-left: 10px;
            background-color: #c0daf8;
            border-radius: 6px;
            position: relative;

            .replay-message-content {
              border-left: 1px solid grey;
              padding-left: 5px;
              min-width: 30%;
              max-width: 98%;
              overflow: hidden;
              text-align: left;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: grey;
            }
            .remove-reply {
              position: absolute;
              top: 2px;
              right: 2px;
              cursor: pointer;
              img {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
        .input-message-container {
          display: flex;
          .input-message {
            flex: 8;
            height: 40px;
            background-color: inherit;
            padding-left: 15px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: rgba(0, 0, 0, 1);
            &::placeholder {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 18px;
              color: rgba(0, 0, 0, 0.5);
            }
          }

          .upload-img-label {
            .upload-img {
              flex: 1;
              width: 30px;
              height: 30px;
              margin: 5px 5px;
              cursor: pointer;
            }
          }
          .emoji-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            cursor: pointer;
            img {
              max-width: 30px;
            }
          }
          .send-message {
            flex: 0.5;
            padding-right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            .send-message-triangle {
              width: 0;
              height: 0;
              border-top: 15px solid transparent;
              border-left: 30px solid #ffe179;
              border-bottom: 15px solid transparent;
              &:hover {
                border-left: 30px solid #74df7f;
              }
            }
          }
          .EmojiPickerReact {
            position: absolute !important;
            bottom: 40px !important;
            right: 90px !important;
            width: 300px !important;
          }
          .message-preview {
            position: relative;
            .message-preview-delete {
              position: absolute;
              z-index: 99;
              top: 0px;
              right: 0px;

              img {
                width: 20px;
                cursor: pointer;
              }
            }
            .message-photo-preview {
              opacity: 0.7;
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

.edit-message-popup,
.delete-chat-popup {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .edit-message-popup-content,
  .delete-chat-popup-content {
    width: 450px;
    height: 200px;
    background-color: #fdfaf4;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    input {
      width: 80%;
      background-color: inherit;
      border-bottom: 1px solid grey;
    }
    .edit-message-popup-buttons,
    .delete-chat-popup-buttons {
      display: flex;
      gap: 15px;
      button {
        background-color: #e2a974;
        padding: 5px 10px;
        border-radius: 3px;
      }
    }
  }
}
